@font-face {
    font-family: DinLight;
    src: url(../font/din_light.ttf);
}

@font-face {
    font-family: DinMedium;
    src: url(../font/din_medium.ttf);
}

body {
    font-family: DinLight;
    background-color: #061726;
    /*overflow: none;*/
}

div#header{
   position:fixed; 
   z-index: 5;
}

div#sidebar {
   position:fixed;
   height:100%;
   width:180px; 
   top:0;
   left:0;
   background-color:#192836;
   padding-top: 150px;
}

.sidebar-nav-list li {
    font-family: DinMedium;
    color: white;
    text-transform: uppercase;
    list-style: none;
}

div#content {
    background:#061726; 
    padding: 150px 30px 0px 210px;
}

.navbar-default {
    position: fixed;
}

.nav-container {
    margin-top: 15px;
}

.navbar-style {
    height: 100px;
    width: 100%;
    background-color: #F4F4F4;
    font-family: DinMedium;
    color: black;
    margin-bottom: 0px;
}

.navbar-default, .navbar-text {
    font-size: 25px;
}

.search-box {
  width: 350px;
  cursor: pointer;
  margin: 15px 50px;
  color: black;
  -o-text-overflow: clip;
  text-overflow: clip;
  border: none; 
  font-size: 20px;
  font-family: DinLight;
  box-shadow: none;
}

.inner-addon { 
  position: relative; 
}

.inner-addon .glyphicon {
  position: relative; 
  position: absolute;
  pointer-events: none;
  line-height: 1.42857143;
  top: 0;
}

.form-control, .search-box{
    padding: 0px 10px;
    background-color: #F4F4F4;
}

.countdown-container {
    /*display: inline-block;*/
    background-color: green;
    color: white;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    text-align: center;
}

.countdown-container h2, p{
    margin: 0;
    font-size: 16px;
}

.countdown-container h2 {
    font-size: 38px;
}

.patient-name-container {
    margin: 15px 20px;
    color: white;
}

.patient-name-container h2 {
    margin: 0;
    font-family: DinMedium;
}

.table {
    margin-bottom: 0;
    margin-left: auto;
	margin-right: auto;
	/*max-width: 1000px;*/
	float: none;
}

.table-container {
    background-color: #192836;
    border-radius: 20px;
    padding: 30px;
    margin: 20px 20px;
}

.table-title-and-icon {
    display: inline-block;
    padding: 0px 0px 20px 0px;
    width: 100%;
}

.table-icons {
    float: right;
    color: #99cc33;
}

.table-title-and-icon i:hover {
    color: #3c763d;
}

.table-container h3 {
    font-family: DinMedium;
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 0px;
    float: left;
    margin: 0;
}

.table-style {
    font-family: DinLight;
    color: white;
    font-size: 13px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-bottom: 1px solid rgba(255, 255, 255, .10);
}

.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}

th {
    font-family: DinMedium;
    width: 30%;
}

.active {
    color: #99cc33;
    text-decoration: none;
}

.icon-bar {
    width: 100%;
}

.icon-bar li {
    list-style: none;
}

.icon-bar ul {
    padding: 0;
    margin: 0;
}

.icon-bar a {
    display: block;
    text-align: center;
    margin: 0px 10px 25px 10px;
    transition: all 0.5s ease;
    color: white;
    font-size: 19px;
}

.icon-bar i {
    margin-bottom: 10px;
}

.icon-bar a:hover {
    color: #99cc33;
    text-decoration: none;
}

.add-delete-btn-container {
    display: inline-block;
    float: right;
    margin: 15px 20px;
}

.btn {
    font-family: DinMedium;
    font-size: 15px;
    border-radius: 7px;
    border: none;
    width: 135px;
}

.index-btn {
    font-family: DinMedium;
    font-size: 12px;
    border-radius: 8px;
    border: none;
    width: 90px;
    height: 28px;
}

.delete-btn {
    background-color: #9c001b;
}

.add-queue-btn {
    background-color: #99cc33;
    margin-right: 15px;
}

.let-in-btn:hover, .add-queue-btn:hover, .submit-btn:hover {
    background-color: #3c763d;
    color: white;
}

.remove-btn:hover, .delete-btn:hover {
    background-color: #a94442;
    color: white;
}

.remove-btn {
    background-color: #9c001b;
}

.let-in-btn {
    background-color: #99cc33;
}

.history-container {
    background-color: green;
    color: white;
    margin: 0px 30px 20px 30px;
    padding: 10px;
    text-align: center;
}

.form-horizontal {
    background-color: #11273b;
    color: white;
    padding: 23px;
    border-radius: 10px;
}

.submit-btn {
    background-color: #99cc33;
    color: white;
    width: 150px;
    margin-top: 35px;
}

legend {
    font-family: DinMedium;
    color: #99cc33;
    font-size: 25px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.history-card, .in-store-card, .queue-card {
    max-height: 200px;
    overflow: auto;
}

.all-patients-card {
    max-height: 400px;
    overflow: auto;
}

.needed-renewal-card {
    max-height: 300px;
    overflow: auto;
}

.view-link {
    color: #99cc33;
}

td a:hover {
    color: white;
}